<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Object Detection</title>
  <link rel="icon" href="images/icon1.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


<a href="index.html" class="logo" style="text-decoration:none; font-color:#219F94 ;font-family: 'Kaushan Script', cursive;">
  <img class="lo" src="{{ url_for('static',filename='images/logo.png') }}" width="50" height="50">
  O b j e c t      D e t e c t i o n
</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myCarousel"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
        <li><a href="#about"><span class="glyphicon glyphicon-play"></span> START</a></li>
      </ul>
    </div>
  </div>
</nav>


<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="{{ url_for('static',filename='images/slide-1.jpeg') }}" alt="E-learning" width="1200" height="300">

        <div class="carousel-caption">
            <h2 style="margin-bottom:5px;">OBJECT DETECTION ON CCTV FOOTAGE!!</h2>
            <h3 style="margin-bottom:20px;">To identify objects and recognize face</h3>
            <p style="margin-bottom:20px;">
              Object detection is a computer vision technique that allows us to identify<br /> and locate objects in an image or video.
              Object detection is definitely spotting an anomaly <br />and it has industry specific usages.
            </p>
            <a href="#about" class="btn   active">Start Detection</a>
        </div>


      </div>

      <div class="item">
        <img src="{{ url_for('static',filename='images/slide-2.jpeg') }}" alt="E-learning" width="1200" height="300">
        <div class="carousel-caption">
          <h2 style="margin-bottom:5px;">OBJECT DETECTION ON CCTV FOOTAGE!!</h2>
          <h3 style="margin-bottom:20px;">To identify objects and recognize face</h3>
          <p style="margin-bottom:20px;">
              Object detection is a computer vision technique that allows us to identify<br /> and locate objects in an image or video.
              Object detection is definitely spotting an anomaly <br />and it has industry specific usages.
            </p>
            <a href="#about" class="btn   active">Start Detection</a>
        </div>
      </div>

      <div class="item">
        <img src="{{ url_for('static',filename='images/slide-3.jpeg') }}" alt="Los Angeles" width="1200" height="300">
        <div class="carousel-caption">
          <h2 style="margin-bottom:5px;">OBJECT DETECTION ON CCTV FOOTAGE!!</h2>
          <h3 style="margin-bottom:20px;">To identify objects and recognize face</h3>
          <p style="margin-bottom:20px;">
              Object detection is a computer vision technique that allows us to identify<br /> and locate objects in an image or video.
              Object detection is definitely spotting an anomaly <br />and it has industry specific usages.
            </p>
            <a href="#about" class="btn   active">Start Detection</a>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


<!-- Container (The Band Section) -->
<div id="about" class="container text-center">
  <h2 style="color:#219F94">DETECTION</h2>
  <input type="file" class="sr-only btn btn-dark" id="inputImage" name="file" accept="image/jpeg, image/png, image/bmp, image/webp, image/svg, image/ico, image/jpg, image/gif">
  <p style="font-weight:600"><em>Discover a new way of learning!</em></p>
 <img src="{{ url_for('video') }}" width="50%"/>
</div>




<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <div class=" text-center">Copyright ©Object Detection . All Rights Reserved | Contact Us: +91 98561
    43210</div>
</footer>


<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

</body>


</html>
